.header {
  color: #1f95d1;
  padding: 40px;
  background: #eeeeee;
  font-size: 20px;
}
.menu__list-item {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}
.menu__list-item:hover {
  background-color: #e4e4e4;
}
.menu__link__active {
  font-weight: bold;
  text-decoration: none;
  color: #1f95d1;
}
.menu__link {
  text-decoration: none;
  color: #1f95d1;
}
